.App {
  text-align: center;
  background-color: #161616;
  height: 100vh;
}
.Menu {
  position: fixed;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: all 0.3s ease-in-out;
}

.Movies {
  background-color: #161616;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25%;
  padding-bottom: 5vh;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  margin-top: 5vh;
  max-width: 200px;
  min-height: 40px;
  width: 60%;
  transition: all 0.3s ease-in-out;
}
#input {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 60%;
  transition: width 0.3s ease-in-out;
}
#input:focus {
  outline: none;
  width: 80%;
}

.searchList {
  padding: 2%;
  color: black;
  margin-top: 10%;
  height: 40%;
  width: 100%;
  user-select: none;
}
.searchMovie {
  font-size: calc(2px + 0.8vh + 0.8vw);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.searchMovie:hover {
  background-color: rgba(0, 0, 0, 0.348);
}
::placeholder {
  color: black;
  opacity: 1;
}

.movieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: calc(200px + 8vh + 8vw);
  height: calc(100px + 4vh + 4vw);
  background-size: cover;
  user-select: none;
  margin-left: 5%;
  margin-top: 2%;
}
.movieTitle {
  font-weight: 600;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.728);
  color: white;
  width: 100%;
  transition: height 0.3s ease-in-out;
}
.movieDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.728);
  color: white;
  font-size: small;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 75%;
  background: linear-gradient(#000000 20%, #111111f0 60%, #000000);
  color: white;
  user-select: none;
  font-size: calc(6px + 0.6vh + 0.6vw);
  overflow: auto;
}
.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4%;
  cursor: pointer;
}

.movieImg {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .movieImg {
    width: 100%;
  }
}
